.container {
  display: grid;
  grid-template-columns: 50% auto;
}
.col {
  padding: .4em 1.3em;
}
.color-dark {
  background: #34314c;
}
.color-light {
  background: #47b8e0;
}
input.txt {
  border: 0;
  padding: 1em;
  width: 80%;
  margin-bottom: 2em;
  border-radius: 5px;
}
input.btn {
  border: 0;
  border-radius: 5px;
  display: block;
  padding: 1em 3em;
  background: #ffc952;
  color: #003A61;
  margin-bottom: 1em;
  cursor: pointer;
}
.life-container {
  background: #ffc952;
  padding: .5em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
.required-message {
  margin-bottom: 2em;
  background-color: #ff7473;
  width: 80%;
  padding: 1em;
  border-radius: 5px;
}
input.btn:disabled {
  background: #c49a5e;
  cursor: not-allowed;
}

